{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h2>Llista de tasques</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Tasca</th>
            <th scope="col">Prioritat</th>
            <th scope="col">Hores Pressupostades</th>
            <th scope="col">Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{task.getTitle}}</td>
                <td>{{task.getPriority}}</td>
                <td>{{task.getHours}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
